<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Calendrier de l'Avent</title>
</head>

<body>
  <nav class="navbar">
    <a class="logo" href="/">Calendrier de l'Avent</a>
    <div class="links">
      <ul class="list-items">
        <li><a href="/">Présentation</a></li>
        <li><a href="/calendrier">Calendrier</a></li>
        <li><a href="/score">Score</a></li>
      </ul>
      <button class="hamburger" aria-label="Toggle navigation" aria-expanded="false">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </nav>
