<%- include('components/header') %>

<section id="erreur-404">
  <div class="section-img"></div>
  <div class="description">
    <h1>Erreur 404</h1>
    <p>La page demandée n'exsite pas</p>
    <a href="/calendrier" class="btn">Accéder au calendrier</a>
  </div>
</section>

<%- include('components/footer') %>