<%- include('components/header') %>

<section id="header">
  <article class="section-img"></article>
  <article class="description">
    <h1>Calendrier de l'Avent de Papa</h1>
    <p>Voici un calendrier de l'avent pour Papa avec tous les jours un petit quiz dans des domaines variés. Le but est d'avoir le plus de bonnes réponses en arrivant à Noel ! Du sport, en passant par la musique et la culture générale, de l'amusement garenti en attendant Noel !</p>
    <a href="/calendrier" class="btn">Accéder au calendrier</a>
  </article>
</section>

<%- include('components/footer') %>
