<%- include('components/header') %>

<section id="score">
  <div class="description">
    <h1>Score</h1>
    <p>Ton score est : <b><%=score%>/<%=nbQuestions%></b></p>
  </div>
  <div class="section-img"></div>
</section>

<%- include('components/footer') %>